<%- include('partials/header'); -%>

<div class="editor">
    
    <h1 class="welcome"> Welcome to our </h1>
   <h1 class="site"> contact page </h1>
  
</div>
<button class="btn">Click here</button>
<p><%= startingContent%></p></div>

<%- include('partials/footer'); -%>